<% type = locals[:type] || 'button' %>

<% case type %>
<% when 'submit' %>
  <%= button_to locals[:path],
                method: locals[:method],
                data: locals[:data],
                class: "common-button--container common-button__outlined",
                disabled: locals[:disabled] do %>
    <div class="layer-state layer-state__outlined">
      <div class="common-button--content">
        <% if locals[:icon] %>
          <%= render "material_design/icons/icon", locals: {icon: locals[:icon], size: 18} %>
        <% end %>
        <%= locals[:label] %>
      </div>
    </div>
  <% end %>
<% when 'reset', 'button' %>
  <%= button_tag type: locals[:type],
                 data: locals[:data],
                 class: "common-button--container common-button__outlined",
                 disabled: locals[:disabled] do %>
    <div class="layer-state layer-state__outlined">
      <div class="common-button--content">
        <% if locals[:icon] %>
          <%= render "material_design/icons/icon", locals: {icon: locals[:icon], size: 18} %>
        <% end %>
        <%= locals[:label] %>
      </div>
    </div>
  <% end %>
<% else %>
  <% raise "Invalid button type: #{locals[:type]}" %>
<% end %>
