<div class="navigation-drawer">
  <%= render "material_design/navigation/navigation_drawer/headline", locals: { headline: locals[:headline] } %>
  <% locals[:sections].each do |section| %>
    <%= render "material_design/navigation/navigation_drawer/section_header", locals: { section_header: section[:header] } %>
    <% section[:nav_items].each do |nav_item| %>
      <%= link_to nav_item[:href], class: class_names("navigation-drawer__nav_item", { active: request.fullpath.start_with?(nav_item[:href]) }) do %>
        <div class="navigation-drawer__state-layer">
          <%= render "material_design/icons/#{nav_item[:icon]}", locals: { size: 24, icon: nav_item[:icon] } %>
          <div style="flex: 1 0 0;">
            <%= render "material_design/typography/label_large", locals: { label: nav_item[:label] } %>
          </div>
          <%= render "material_design/typography/label_large", locals: { label: nav_item[:badge_label] } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
